# Port of your socket server. Replace <PORT> with the actual port number, e.g., 3030
PORT=<PORT>

# URL for your socket server. Replace <URL> with the actual URL, e.g., ws://localhost:3030
VITE_SOCKET_URL=<URL>